*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
a {
    text-decoration: none ;
}
header {
    background: (rgba(0, 0, 0, 0.5));
    display: flex;
    width: 100%;
    padding: 1.4% 5%;
    align-items: center;
    font-family: sans-serif ;
    position: absolute;
    z-index: 13;
}
header .logo {
    flex: 1;
    font-size: 8mm;
    font-weight: bold;
    color: rgba(254, 255, 255, 0.815);
}
header .taglist {
    flex: 2 ;
    
}
header a {
    color: rgba(251, 255, 255, 0.815) !important;
    opacity: 0.8;
}
header ul ol {
    text-align: right ;
    display: inline;
    margin-right: 30mm;
}
nav {
    background-color: rgb(252, 247, 255);
    display: flex;
    width: 100%;
    padding: 1.4% 5%;
    align-items: center;
    font-family: sans-serif ;
    position: fixed;
    z-index: 13;
}
.bar {
    display: block;
    width: 100%;
    padding: 1.4% 5%;
}
.active {
    padding: 1.0rem ;
    display: inline-flex;
    border-radius: 1cm;
    color: white !important;
    height: 100%;
    opacity: 1;
    font-weight: 600;
    font-size: large;
    background-color: rgba(72, 47, 212, 0.719)
}
nav .logo {
    flex: 1;
    font-size: 8mm;
    font-weight: bold;
    color: rgba(11, 12, 12, 0.815);
}
nav .taglist {
    flex: 2 ;
    
}
nav a {
    color: rgba(11, 12, 12, 0.815) !important;
    opacity: 0.8;
}
nav ul ol {
    text-align: right ;
    display: inline;
    margin-right: 30mm;
}
.part1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/TEST-1-IMG-4.5.jpg");
    /* background-image: url(./Images/TEST-1-IMG-4.5.jpg); */
    background-position: fixed;
    position: relative;
    background-size: cover;
    text-align: center;
    font-size: 10mm;
    padding: 10.9% 0% ;
    /* filter: brightness(75%); */
    color: rgba(250, 249, 252, 0.719);
}
.part1 p{
    font-style: italic;
    font-size: 9mm;
    margin: 1.5% 0% 0% 0%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.part1 .path1{
    margin: 0% 0% 1.5% 0%;
}
.part1 a{
    padding: 1.0rem ;
    background-color: rgb(85, 85, 184);
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 0.87in;
    color: white;
}
.part1 .path2{
    border: 2px solid white ;
    background-color: transparent;
}
.part1 a:hover{
    background-color: white;
    color: black;
}
.part2 {
    background-color: none;
    background-size: cover;
    text-align: left;
    display: flex;
    padding: 0% 0% ;
    padding-top: 3rem !important;
}
.part2 .path1{
    flex: 1;
}
.part2 .path2{
    align-content: center;
    text-align: center;
    padding-top: 15%;
    padding-right: 10%;
    flex: 3;
}
.part2 a{
    padding: 1.0rem ;
    background-color: rgb(85, 85, 184);
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 0.5in;
    color: white;
}
.part3 {
    background-color: rgb(252, 247, 255);
    background-size: cover;
    display: flex;
    text-align: center;
    padding-top: 3rem;
}
.part3 a{
    padding: 1.0rem ;
    background-color: rgb(85, 85, 184);
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 0.5in;
    color: white;
}
.part3 .image{
    flex: 1;
}
.part3 .text{
    align-content: center;
    text-align: center;
    padding-top: 15%;
    padding-left: 10%;
    flex: 3;
}
.part4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/TEST-1-IMG-4.5.jpg");
    /* background-image: url(./Images/TEST-1-IMG-4.5.jpg); */
    background-size: cover;
    text-align: center;
    font-size: 10mm;
    padding: 10.9% 0% ;
    max-height: 100vh;
    color: rgba(250, 249, 252, 0.719);
}
.part4 p{
    font-style: italic;
    font-size: 4mm;
    margin: 1.5% 0% 0% 0%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.part4 h2{
    margin-top: 2in;
}
.part4 p{
    margin-top: 0.5in;
}
.part4 a{
    padding: 1rem ;
    display: inline-block;
    background-color: rgb(85, 85, 184);
    text-decoration: none;
    font-size: 1.3rem;
    color: whitesmoke;
    margin-top: 0.5in;
}
.part5 {
    background-color: rgb(252, 247, 255);
    background-size: cover;
}
.part5 .path1{
    height: auto;
    padding: 2% 3%;
}
.part5 .text{
    text-align: center;
    font-size: 5.5mm;
}
.part5 h2{
    padding-top: 8%;
}
.part5 p{
    padding-bottom: 3%;
}
.part5 a {
    display: inline-block;
    padding: 1rem;
    color: whitesmoke;
    font-size: 1.3rem;
    background:  rgb(85, 85, 184);
}
.part6 {
    background-color: rgb(252, 250, 249);
    background-size: cover;
    text-align: center;
    color: rgb(17, 18, 19);
    padding: 3% 0;
}
.part7 { 
    background-color: white;
    background-size: cover;
    display: flex;
    padding: 5% 15%;
}
.part7 a {
    flex: 0.5;
    padding-right: 50%;
    display: inline-block;
    font-size: 1.0rem;
    padding: 1rem  ;
    background-color: rgb(85, 85, 184);
    color: whitesmoke;
}
.part7 h1{
    flex: 3;
}
.part8 {
    background-color: rgb(0, 3, 5);
    background-size: cover;
    text-align: center;
    color: rgb(249, 251, 252);
    padding: 5% 0% ;

}
/* this is how to comment in css filel*/